
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-2.5">
      <div class="card">
        <div class="card-body">
          <h2 align="center">Sign Up</h2>
          <form method="post" align="center">
            {% csrf_token %}
            {{ form|crispy }}
              <br>
            <button type="submit" class="btn btn-primary">Sign up</button>
              <a href="{% url 'login' %}" class="btn btn-link">Go Back</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
